.tech {
  text-align: center;
  margin: 20px;
}
.tech-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  width: 100%;
}

.tech-item {
  padding: 20px 40px;
  font-weight: bold;
}

@media screen and (max-width: 650px) {
  .tech-container {
    grid-template-columns: auto auto auto;
  }
  .tech-item {
    padding: 10px 20px;
  }
}
