html {
  scroll-behavior: smooth;
}

.footer {
  display: grid;
  grid-template-columns: auto auto;
  /* position: sticky; */
  width: 100%;
  bottom: 0;
  color: #000;
  background-color: #F6F8FA;
  border-top: 1px solid #EAECEF;
}

.bio {
  margin: 10px 30px;
}
.bio p:first-child {
  font-size: 1.5rem;
}

.copyright {
  font-size: 12px;
  margin: 20px 30px;
}

.fot-item {
  margin: 0px 20px;
  text-decoration: none;
  color: #000;
}
.fot-item:hover {
  text-decoration: none;
  color: #ff9cae;
}

.main-items {
  margin: 10px;
}

.soc-icon {
  margin-left: 10px;
  margin-top: 30px;
}

@media screen and (max-width: 650px) {
  .footer {
    grid-template-columns: auto;
  }
}
@media screen and (max-width: 420px) {
  .main-items {
    display: none;
  }
}
.dark .footer {
  color: #C9D1D9;
  background-color: #000;
  border-top: 1px solid #21262D;
}
.dark .fot-item {
  color: #C9D1D9;
}
.dark .fot-item:hover {
  text-decoration: none;
  color: #ff9cae;
}