@import "../../index";

.footer {
  display: grid;
  grid-template-columns: auto auto;
  /* position: sticky; */
  width: 100%;
  bottom: 0;
  color: #000;
  background-color: $lightmode-background-color;
  border-top: 1px solid $lightmode-element-border;
}

.bio {
  margin: 10px 30px;

  p:first-child {
    font-size: 1.5rem;
  }
}

.copyright {
  font-size: 12px;
  margin: 20px 30px;
}

.fot-item {
  margin: 0px 20px;
  text-decoration: none;
  color: #000;
  &:hover {
    text-decoration: none;
    color: lighten(#ff6984, 10);
  }
}
.main-items {
  margin: 10px;
}

.soc-icon {
  margin-left: 10px;
  margin-top: 30px;
}

@media screen and (max-width: 650px) {
  .footer {
    grid-template-columns: auto;
  }
}

@media screen and (max-width: 420px) {
  .main-items {
    display: none;
  }
}

.dark {
  .footer {
    color: $darkmode-text-color;
    background-color: #000;
    border-top: 1px solid $darkmode-element-border;
  }
  .fot-item {
    color: $darkmode-text-color;
    &:hover {
      text-decoration: none;
      color: lighten(#ff6984, 10);
    }
  }
}
