// #query {
  // padding: 20px;
  // height: 71vh;
// }

// #query-form {
//   margin: 0 auto;
//   text-align: left;
//   width: 400px;
//   padding: 20px;
//   box-shadow: 1px 2px 3px #eaecef;
//   border: 1px solid #eaecef;
//   border-radius: 10px;

//   input,
//   textarea {
//     padding: 5px 12px;
//     border-radius: 4px;
//     border: 1px solid rgb(0, 0, 0);
//     font-size: 1em;
//     width: 100%;
//   }

//   label {
//     display: block;
//     margin: 10px 0 5px;
//   }
// }

// #message {
//   overflow: auto;
//   resize: vertical;
// }

// .query-btn {
//   color: #ff6984;
//   background-color: #fff;
//   padding: 5px;
//   border: 1px solid #eaecef;
//   border-radius: 10px;
//   &:hover {
//     color: #fff;
//     background-color: #ff6984;
//   }
// }

// .dark {
//   #query {
//     background-color: #06090f;
//     border-bottom: 1px solid #21262d;
//   }
//   #query-form {
//     color: #c9d1d9;
//     border: 1px solid #21262d;
//   }

//   input,
//   textarea {
//     background-color: #222d37;
//     color: #fff;
//   }

//   .query-btn {
//     background-color: #222d37;
//     border: 1px solid #21262d;
//     color: #ff6984;
//     &:hover {
//       border: 1px solid #fff;
//     }
//   }
// }

.contact-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  width: 100%;

  .contact-details,
  .contact-img {
    box-sizing: border-box;
    margin: 20px 50px;
  }
}

.contact-details {
  padding: 20px;
  font-size: 20px;
  text-align: left;
}

.contact-img {
  padding: 20px;
  img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 20px;
  }
}

.my-email {
  color: lighten(#ff6984, 8);

  &:hover {
    text-decoration: none;
    color: lighten(#ff6984, 8);
  }
}

@media screen and (min-width: 650px) {
  #query {
    height: 70vh;
  }
}

@media screen and (max-width: 650px) {
  .contact-container {
    grid-template-columns: auto;

    // img {
    //   width: 200px;
    //   height: 200px;
    //   object-fit: cover;
    //   border-radius: 20px;
    // }
  }
}

.dark {
  #query {
    color: #c9d1d9;
    background-color: #06090f;
    border-bottom: 1px solid #21262d;
  }
}
