#query {
  height: 83vh;
}

.contact-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact-container .contact-details,
.contact-container .contact-img {
  box-sizing: border-box;
  margin: 20px 50px;
}

.contact-details {
  padding: 20px;
  font-size: 20px;
  text-align: left;
}

.contact-img {
  padding: 20px;
}
.contact-img img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.my-email {
  color: #ff92a5;
}
.my-email:hover {
  text-decoration: none;
  color: #ff92a5;
}

@media screen and (max-width: 650px) {
  .contact-container {
    grid-template-columns: auto;
  }
}
.dark #query {
  color: #C9D1D9;
  background-color: #06090F;
  border-bottom: 1px solid #21262d;
}