.about {
  border-bottom: 1px solid #eaecef;
}

.about-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  width: 100%;

  .about-me,
  .about-img {
    box-sizing: border-box;
    margin: 20px 35px;
  }
}

.about-me {
  padding: 20px;
  font-size: 20px;
  text-align: left;

  .my-resume {
    border-radius: 20px;
    padding: 8px 15px;
    text-decoration: none;
    background-color: #f6f8fa;
    border: 1px solid #21262d;
    color: #ff6984;
    &:hover {
      background-color: lighten(#222d37, 10);
    }
  }
}

.about-img {
  padding: 20px;
  img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
  }
}

@media screen and (min-width: 800px) {
  .about-me {
    width: 500px;
    .about-img {
      img {
        width: 250px;
        height: 250px;
      }
    }
  }
}

@media screen and (max-width: 910px) {
  .about-container {
    grid-template-columns: auto;
  }
  .about-img {
    img {
      display: block;
      margin: 0 auto;
      width: 190px;
      height: 190px;
    }
  }
}

.dark {
  .about {
    color: #c9d1d9;
    background-color: #121e2a;
    border-bottom: 1px solid #21262d;

    .my-resume {
      color: #ff6984;
      background-color: #222d37;
      &:hover {
        background-color: lighten(#222d37, 10);
      }
    }
  }
}
