html {
  scroll-behavior: smooth;
}

#about {
  border-bottom: 1px solid #EAECEF;
  background-color: #F6F8FA;
  height: 100%;
}

.about-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  width: 100%;
}
.about-container .about-me,
.about-container .about-img {
  box-sizing: border-box;
  margin: 20px 35px;
}

.about-me {
  padding: 20px;
  font-size: 20px;
  text-align: left;
}

.about-img {
  padding: 20px;
}
.about-img img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

@media screen and (min-width: 910px) {
  .about {
    height: 70vh;
  }

  .about-me {
    width: 500px;
  }
  .about-me .about-img img {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 910px) {
  .about-container {
    grid-template-columns: auto;
  }

  .about-img img {
    display: block;
    margin: 0 auto;
    width: 190px;
    height: 190px;
  }
}
.dark #about {
  color: #C9D1D9;
  background-color: #06090F;
  border-bottom: 1px solid #21262D;
}