.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav-logo {
    color: #ff6984;
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 30px;
    &:hover {
      color: lighten(#ff6984, 10);
    }
  }

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;

    &:hover {
      color: #3d393950;
    }
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;

    a {
      font-size: 18px;
    }
  }
}
/*side nav*/

/*****************************************************************/
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  line-height: 30px;
  background-color: #cfdee9;

}

.logo {
  line-height: 30px;
  display: inline-block;
  // margin: 10px 46px;
  color: #ff6984;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  &:hover {
    text-decoration: none;
    color: lighten(#ff6984, 10);
  }
}

.navbar-items {
  line-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* background: rgba(0, 0, 0, 0); */
  color: rgb(0, 0, 0);
  text-align: right;
  font-size: 16px;
  // transition: 1s;
}

.pc-view {
  /* display: inline-block; */
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-right: 20px;
  &:hover {
    text-decoration: none;
    color: lighten(#ff6984, 5);
  }
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 710px) {
  .pc-view {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  .menu-icon:hover {
    cursor: pointer;
  }
  .navbar-items {
    display: inline-block;

    .toggle-container {
      margin: 0;
      margin-bottom: 18px;
    }
  }
  .logo-container {
    margin: 0 auto;
  }
}

.white {
  background: #f6f8fa;
  border-bottom: 1px solid #eaecef;
}
/////*************dark mode************//////////
.dark {
  .fa-bars {
    color: #fff;
  }
  .navbar {
    background-color: #161b22;
    border-bottom: 1px solid #21262d;
  }
  .pc-view {
    color: #c9d1d9;
    &:hover {
      color: lighten(#ff6984, 5);
    }
  }

  .sidenav {
    background-color: #161b22;
    border-right: 1px solid #21262d;
    .closebtn {
      color: #c9d1d9;
    }
    .sidenav-logo {
      color: #ff6984;
      &:hover {
        color: lighten(#ff6984, 10);
      }
    }

    a {
      color: #c9d1d9;
      &:hover {
        color: lighten(#ff6984, 5);
      }
    }

  }

}

/******************************toggle switch************************************/
.toggle-container {
  position: relative;
  top: 12px;
  display: inline-block;
  width: 45px;
  height: 25px;
  pointer-events: none;
  user-select: none;
  margin: 0 20px;
}

.toggle-container input {
  opacity: 1;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #808080;
  transition: 0.4s;
  pointer-events: none;
}

.slider::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 6px;
  bottom: 6px;
  background-color: #fff;
  transition: 0.2s;
  pointer-events: none;
}
.slider::after {
  position: absolute;
  content: "🌞";
  height: 12px;
  width: 12px;
  right: 12px;
  bottom: 16px;
  transition: 0.2s;
  color: #fff;
  pointer-events: none;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

input:checked + .slider:after {
  content: "🌜";
  left: 2px;
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
