.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav-logo {
  position: absolute;
  top: 0;
  left: 0px;
  font-size: 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*side nav*/

/*******/
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  line-height: 30px;
  background-color: #cfdee9;
}

.logo {
  text-decoration: none;
  line-height: 30px;
  display: inline-block;
  margin: 10px 46px;
  color: #ff6984;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

.navbar-items {
  line-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* background: rgba(0, 0, 0, 0); */
  color: rgb(0, 0, 0);
  text-align: right;
  font-size: 16px;
  transition: 1s;
}

.pc-view {
  /* display: inline-block; */
  padding: 10px 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 16px;
  margin-right: 20px;
}
.menu-icon {
  display: none;
}

@media screen and (max-width: 700px) {
  .navbar-items {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  .menu-icon:hover {
    cursor: pointer;
  }
}

.black {
      background: #fff;
}

/*****toggle switch**********/
.toggle-container {
  position: relative;
  top: 12px;
  display: inline-block;
  width: 45px;
  height: 25px;
  pointer-events: none;
  user-select: none;
}

.toggle-container input {
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #808080;
  transition: 0.4s;
  pointer-events: none;
}

.slider::before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 6px;
  bottom: 6px;
  background-color: #fff;
  transition: 0.2s;
  pointer-events: none;
}
.slider::after {
  position: absolute;
  content: "🌞";
  height: 12px;
  width: 12px;
  right: 12px;
  bottom: 15px;
  transition: 0.2s;
  color: #fff;
  pointer-events: none;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

input:checked + .slider:after {
  content: "🌜";
  left: 2px;
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}


